
.important {
    background-color: rgb(255 0 0 / 80%);
    color: white;
}

.high {
    background-color: rgb(255 112 0 / 80%);
    color: white;
}

.medium {
    background-color: rgb(255 193 7 / 80%);
    color: black;
}

.low {
    background-color: rgb(105 239 0 / 80%);
    color: black;
}